html {
    background-color: lightgray;
    /*! min-width: 1040px; */
    
    /*! overflow: hidden; */
    min-width: 300px;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}
nav {
    color: #A0A0A0;
    height: 56px;
    border-bottom: 1px solid #F9F9F9;
    background-color: white;
    width: 100%;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 56px;
    margin: 0 -36px;
    list-style: none;
    width: 100%;
}

nav li {margin-top: 13px;}

.user {
    margin-left: auto;
    position: relative;
    top: 4px;
    background-color: transparent;
    margin-right: 5px;
}

#bars {
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

#yt {
    margin-top: 10px;
    width: 9vw;
    max-width: 3em;
    height: 24px;
}

.search {
    max-width: 580px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30px;
    padding: 0 5px;
    position: relative;
    left: 2vw;
    width: 33vw;
}

input[type="search"] {
    border-radius: 2px 0 0 2px;
    border: 1px solid rgb(165, 165, 165);
    padding: 5px 10px;
    width: 28vw;
    align-content: center;
}

button .search {
    border: 1px solid rgb(165, 165, 165);
    border-radius: 0 3px 3px 0;
    background-color: #F0F0F0;
    color: rgb(177, 173, 173);
}

button:hover {
    color: rgb(83, 81, 81);
}

#fa-upload,
 {
    color: #A0A0A0;
    font-size: 5em;
}
.logo{
    position: relative;
    left: 0;
    margin-top: 5px;
}
.user button{
    background-color: blue;
    color: white;
    height: 3em;
    margin: 20px;
    position: relative;
    top: -15px;
}
    .user i{
        font-size: 30px;
        height: 5em;
        margin-right: 0.5em;
}
#video-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}
#video-navbar li {
    display: inline;
    position: relative;
    right: 0;
}
#video-navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#like-dislike {
}
#t-user{
    float: left;
    margin-right: 0.5em;
    margin-top: -0.7em;
    border-radius: 100%;
    width: 5vw;
    max-width: 3em;
}
#video-buttons{
    width: 96%;
    margin: 0 1em;
    font-size: clamp(0em, 2vw, 1em);
}
#video-information #views{
    position: relative;
    margin-left: 1.3em;
    bottom: 0.69em;
    font-size: clamp(0em, 2vw, 1em);
}
#video-information h2 {
    margin-left: 10px;
    font-size: clamp(0em, 4vw, 1.5em);
}
.subscribe-view{
    line-height: 0em;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: clamp(0em, 2vw, 1em);
}
#video-buttons button{
    background-color: red;
    display: block;
    position: relative;
}
#video-buttons button span{
color: white;
position: relative;;
bottom: 5px;
font-size: 1.2em;
}
#video-buttons #subscribe-text{
    position: relative;
    bottom: -0.5em;
    left: 0.20em;
    border: 0.1em;
}
aside{
    grid-template-columns: auto auto;
    padding: 8px;
    float: right;
    background-color: white;
    margin-top: 1em;
    position: relative;
    width: 19%;
    overflow-x: hidden;
}
#video-container{
    margin-top: 1em;
    /*! text-align: center; */
   
}
aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.image-title{
    font-weight: bold;
    font-size: clamp(0em, 1.7vw, 4em);
    text-align: end;
    position: relative;
    display: block;
    bottom: 5.4vw;
    right: 2vw;
}
.image-text {
    font-size: clamp(0em, 1.1vw, 4em);
    text-align: center;
    position: relative;
    bottom: 5.2vw;
    right: -12.9vw;
}
#gif {
    width: 72%;
    height: 10em;
    margin-left: 0px;
    text-align: center;
    line-height: 10em;
    background-color: white;
    margin-right: 20em;
}
#gif span {
    position: relative;
    bottom: 4px;
}
.bottom-navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.bottom-navbar a {
    text-decoration: none;
    color: black;
}
.button-text {
    position: relative;
    bottom: 5px;
} 
#bottom-1 li {
    margin-left: 1em;
}
#bottom-2 li {
    margin-left: 1em;
}
.doesnt-move {
    margin-left: 0 !important;
}
.bigger-button {
    height: 2.75em;
    position: relative;
    bottom: 0.3em;
}
#video-information{
    background-color: white;
    width: 72%;
    margin-right: 20em;
}
#auto-info{
    font-size: clamp(0em, 1.5vw, 3em);
}
#bottom-navbars{
    background-color: white;
    width: 100%;
    position: relative;
    display: inline-block;
    top: 1em;
}
#auto-play-button {
    width: clamp(0em, 3vw, 1.3em);
    position: relative;
    right: -4vw;
}
#error-icon {
    position: relative;
    left: 0em;
    top: 0.29em;
    font-size: clamp(0em, 2vw, 1.2em);
}
#auto-play {
    position: relative;
    font-size: clamp(0em, 1.5vw, 1em);
    left: 4vw;
    bottom: 0.5vw;
}
#bottom-0{
    border-bottom: solid lightgray;
}
#t-user-icon{
    border-radius: 100%;
    width: 4.6vw;
    max-width: 1.2em;
}
#subscribe-button{
    height: 5vw;
    max-height: 2.5em;
    right: -65%;
}
#sharing-btn{
    float: right;
    position: relative;
    top: -1.5em;
}
#video-container iframe{
    /*! display: inline-block; */
    flex-direction: row;
    align-items: center;
    width: 72%;
}
